$primary-color: #7f92ba;

* {
  box-sizing: border-box;
}

body {
  background: $primary-color;
  color: white;
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}